.navbar {
    background-color: transparent;
    position: relative;
    z-index: 2;
    
}
.menu-derecha {
    margin-left: auto;
}

#carouselExample {
    margin-top: -70px; /* Ajusta este valor según sea necesario */
}
.logo {
    width: 30px;
    height: 30px;
}